.banner{
    background-color: var(--cor-verde-escuro);
}
.banner-texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-2);
}
.banner-texto p{
    color: var(--cor-branco);
    text-align: center;
}
.banner-botoes{
    display: flex;
    justify-content: space-around;
}
.banner-botoes .botao-branco{
    text-align: center;
    width: 35%;
}
.banner-imagem img{
    width: 100%;
    height: auto;
}