/* responsividade tablet */
@media(max-width: 992px){
    :root{
        font-size: 14px;
    }
    .container{
        max-width: 90%;
    }
    .noticias__conteudo{
        display: flex;
        flex-direction: column;
    }
    .card-noticia-vertical{
        display: flex;
        flex-direction: column;
    }
}