/* Estilos globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: var(--branco);
    color: var(--textos);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
a{
    color: var(--textos);
}

:root{
    /* CORES DO SISTEMA */
    
    /* cores > primarias */
    --verde-escuro: rgb(50, 99, 68);
    --verde-medio: rgb(126, 180, 80);
    --verde-claro: rgb(167, 204, 57);
    --verde-transparente: rgb(126, 180, 80, 0.3);

    /* cores > secundárias */
    --azul: rgb(80, 158, 178);

    /* cores > neutras */
    --branco: rgb(255, 255, 255);
    --fundo-escuro: rgb(200, 200, 200);

    /* cores > fontes */
    --titulos: rgb(86, 86, 86);
    --textos: rgb(125, 125, 125);

    /* ESPAÇAMENTOS */
    --space-0-25: 0.25rem;
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-2: 1.5rem;
    --space-3: 2rem;
    --space-4: 3rem;
    --space-5: 4rem;
    --space-6: 5rem;

    /* FONTES */
    font-size: 16px;
    --titulo-pagina: 2rem;
    --titulo-sessao: 2rem;
    --titulo-card:1.2rem;
    --titulo-dados: 0.8rem


}

/* Centralização do conteído à página */
.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* CABEÇALHO */
.header{
    background-color: var(--branco);
    position: sticky;
    top: 0;
    z-index: 500;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.conteudo-header{
    padding: var(--space-0-25) var(--space-0-5);
    height: 14dvh;
}
/* cabeçalho > logo */
.header .header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.header .header-logo img{
    width: 100%;
    height: auto;
}

/* Cabeçalho > menu */
.header__menu{
    transition: transform 0.3s;
}
.header__nav-menu{
    display: flex;
    justify-content: center;
}
.header__nav-menu li{
    float: left;
}
.header__nav-menu li a, label{
    display: inline-block;
    padding: 0 var(--space-1);
    font-size: var(--titulo-card);
    text-align: center;
    padding: var(--space-0-5) var(--space-1);
    transition: all 0.1s ease;
}
.header__nav-menu li a:hover, .header__nav-menu li label:hover, .bt-dropdown:hover > label{
    background-color: var(--verde-medio);
    color: var(--branco);
}
.menu-dropdown{
    position: absolute;
    display: none;
    justify-items: start;
    background-color: var(--branco);
    color: var(--branco);
    box-shadow: 1px 4px 5px rgb(0, 0, 0, 0.3);
}
.menu-dropdown a{
    width: 100%;
}
.bt-dropdown:hover .menu-dropdown{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.header__menu-hamburguer{
    display: none;
}
.header__menu-hamburguer .icon-menu div{
    width: var(--space-2);
    height: var(--space-0-25);
    margin: var(--space-0-25);
    background-color: var(--titulos);
}

/* RODAPÉ */
footer{
    background-color: var(--verde-escuro);
    color: var(--branco);
}
/* rodapé > titulo */
.footer__title{
    display: flex;
    border-bottom: 1px solid var(--branco);  
    align-items: center;  
}
.footer__title h3{
    text-align: center;
    font-size: 2rem;
    color: var(--branco);
}
.footer__title p{
    font-size: 1.5rem;
    text-align: center;
}
/* rodapé > grid de sessões */
.footer__grid{
    padding: var(--space-1)
}
.footer__grid aside{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__grid p{
    margin: var(--space-0-5) 0;
}
.footer__grid a{
    color: var(--branco);
}
.footer__grid a:hover{
    border-bottom: 1px solid var(--branco);
}

/* RESPONSIVIDADE */

/* monitores grandes e desktops widescreen */
@media (max-width: 1440px) {
    
}

/* notebooks e monitores menores */
@media (max-width: 1200px) {
}
/* responsividade tablet */
@media(max-width: 992px){
    
    /* CABEÇALHO */
    .header .header-logo{
        width: 100%;
    }
    .header-logo .box-botao{
        display: none;
    }
    #menu-check:checked + .header__menu{
        transform: translate(0%);
    }
    .header__menu-hamburguer{
        display: flex;
        align-items: center;
    }
    .icon-menu{
        cursor: pointer;
    }
    .header__menu{
        position: absolute;
        z-index: 999;
        transform: translate(100%);
        top: 14dvh;
        right: 0;
        width: 50%;
        height: 86dvh;
        background-color: var(--branco);
        box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
    }
    
    .header__nav-menu{
        width: 100%;
    }
    .header__menu ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .header__menu li a, .header__menu label{
        width: 100%;
    }
    #projetos:checked + .menu-dropdown{
        display: grid;
    }
    .menu-dropdown{
        position: static;
        box-shadow: none;
        background-color: var(--verde-transparente);
        color: var(--branco);
    }
    

    /* Rodapé */
    .footer .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__title{
        flex-direction: column;
    }
    .pipe{
        display: none;
    }
}

/* celulares grandes e pequenos tablets */
@media(max-width: 768px){
    .header__menu li{
        font-size: 1.5rem;
    }
}

/* responsividade mobile */
@media(max-width: 620px){
    .header__menu li{
        font-size: 1.2rem;
    }
    /* Rodapé */
    .footer .grid-quatro-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
}