/* Estilos globais */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    /* Cores primarias */
    --verde-escuro: rgb(50, 99, 68);
    --verde-medio: rgb(126, 180, 80);
    --verde-claro: rgb(167, 204, 57);

    /* Cores secundárias */
    --azul: rgb(80, 158, 178);

    /* Cores neutras */
    --branco: rgb(255, 255, 255);
    --fundo-escuro: rgb(200, 200, 200);
    --titulos: rgb(86, 86, 86);
    --textos: rgb(125, 125, 125);

    /* espaçamentos */
    --space-0-25: 0.25rem;
    --space-0-5: 0.5rem;
    --space-1: 1rem;
    --space-2: 1.5rem;
    --space-3: 2rem;
    --space-4: 3rem;
    --space-5: 4rem;
    --space-6: 5rem;

}

body{
    background-color: var(--branco);
    color: var(--textos);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

a{
    color: var(--textos);
}

/* Centralização do conteído à página */
.container{
    margin: 0 auto;
    max-width: 1200px;
}

/* Cabeçalho */
.header{
    background-color: var(--branco);
    position: sticky;
    top: 0;
    z-index: 500;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.conteudo-header{
    padding: var(--space-0-25) var(--space-0-5);
    min-height: 13vh;
}
.header .header-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: auto;
}
.header .header-logo img{
    width: 100%;
    height: auto;
}
.header__menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: var(--space-0-5) 0;
    transition: transform 0.3s;
}
.header__bt-cadastro{
    display: flex;
    justify-content: end;
}
.header__bt-cadastro a{
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--verde-medio);
    color: var(--branco);
}
.header__bt-cadastro a:hover{
    background-color: var(--verde-claro);
}
.header__nav-menu ul{
    display: flex;
}
.header__nav-menu li{
    margin: 0 5px;
}
.header__nav-menu a{
    padding-left: 10px;
    font-size: 1.5rem;
}
.header__nav-menu a:hover{
    color: var(--verde-medio);
}
.header__menu-hamburguer{
    display: none;
}
.header__menu-hamburguer .icon-menu div{
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: var(--titulos);
}

/* rodapé */
footer{
    background-color: var(--verde-escuro);
    color: var(--branco);
}
.footer__title{
    display: flex;
    border-bottom: 1px solid var(--branco);  
    align-items: center;  
}
.footer__title h3{
    text-align: center;
    font-size: 2rem;
    color: var(--branco);
}
.footer__title p{
    font-size: 1.5rem;
    text-align: center;
}

.footer__grid{
    padding: 20px;
}
.footer__grid aside{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.footer__grid p{
    margin: 10px 0;
}
.footer__grid a{
    color: var(--branco);
}
.footer__grid a:hover{
    border-bottom: 1px solid var(--branco);
}
/* monitores grandes e desktops widescreen */
@media (max-width: 1440px) {
    
}

/* notebooks e monitores menores */
@media (max-width: 1200px) {
}
/* responsividade tablet */
@media(max-width: 992px){
    
    /* Cabeçalho */
    .icon-menu{
        cursor: pointer;
    }
    .header__bt-cadastro{
        display: none;
    }
    .header__menu{
        position: absolute;
        transform: translate(100%);
        top: 15vh;
        right: 0;
        width: 50%;
        height: 85vh;
        background-color: var(--branco);
        box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.3);
    }
    #menu-check:checked + .header__menu{
        transform: translate(0%);
    }
    .header__menu ul{
        display: block;
    }
    .header__menu li{
        display: flex;
        justify-content: center;        
    }
    .header__menu a{
        font-size: 2rem;
    }

    .header .header-logo{
        width: 100%;
    }
    .header__menu-hamburguer{
        display: flex;
        align-items: center;
    }

    /* Rodapé */
    .footer .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }
    .footer__title{
        flex-direction: column;
    }
    .pipe{
        display: none;
    }
}

/* responsividade mobile */
@media(max-width: 620px){
    /* Rodapé */
    .footer .grid-quatro-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
}