.text-h1{
    font-size: 2.5rem;
    color: var(--titulos);
    text-align: start;
    margin-bottom: var(--space-2);
}
.text-h2 {
    font-size: 2rem;
    color: var(--titulos);
    text-align: center;
}
.text-h3{
    font-size: 1.2rem;
    color: var(--titulos);
    text-align: center;
    margin-bottom: var(--space-1);
}
.text-p{
    font-size: 1rem;
    color: var(--textos);
    text-align: justify;
}
.text-dados{
    font-size: 0.8rem;
    color: var(--textos);
    text-align: justify;
    margin-bottom: 5px;
}
.linha{
    border: 1px solid var(--fundo-escuro);
}
.botao{
    padding: var(--space-1) var(--space-2);
    font-size: 1.2rem;
    color: var(--branco);
    background-color: var(--verde-medio);
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
.botao:hover{
    background-color: var(--verde-claro);
    box-shadow: none;
}
.botao-branco{
    padding: var(--space-1) var(--space-2);
    font-size: 1.2rem;
    color: var(--branco);
    background-color: transparent;
    border: 2px solid var(--branco);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}
.botao-branco:hover{
    background-color: var(--branco);
    color: var(--verde-medio);
    box-shadow: none;
}