/* Destaque do link "Início" no menu de navegação */
.header__nav-menu li:nth-child(1){
    border-bottom: 2px solid var(--verde-medio);
}

/* Estilização do banner principal */
.banner {
    width: 100%;
    max-height: 87vh;
    overflow: hidden;
}
.banner img {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Sessão: resultados */
.resultados{
    background-color: var(--verde-medio);
}
.resultados .titulo-sessao h2{
    color: var(--branco);
}
.resultados-cards aside p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--branco);
}
.resultados-cards aside p:nth-child(2){
    font-size: 1.3rem;
    text-align: center;
    color: var(--branco);
}

/* sessão: quem-somos */
.quem-somos-historia, .quem-somos-texto{
    display: flex;
    flex-direction: column;
    padding: 0 30px;
}
.quem-somos .container-sessao-duas-colunas{
    padding: 20px;
}
.quem-somos-imagem img{
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.quem-somos h3{
    font-size: 1.5rem;
}
.quem-somos p{
    font-size: 1.2rem;
}
.quem-somos-botao{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

/* sessão projetos */
.projetos{
    background-color: var(--azul);
}
.projetos .titulo-sessao h2{
    text-align: start;
    color: var(--branco);
}
.card-projeto{
    background-color: var(--branco);
}

/* Sessão: apoiador */
.apoiador__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.apoiador .titulo-sessao h2{
    text-align: start;
}
.apoiador__links ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.apoiador__links li{
    display: flex;
    align-items: center;
    gap: 10px;
}
.apoiador__links button{
    width: 8rem;
    align-items: center;
}
.apoiador__links p{
    width: 57%;
    border-bottom: 2px solid var(--verde-medio);
    font-size: 1.5rem;
}
.apoiador-imagem img{
    max-width: 100%;
    height: auto;
}

/* sessão noticias */
.noticias .titulo-sessao h2{
    text-align: start;
}

/* responsividade tablet */
@media(max-width: 953px){
    /* Sessão : resultados */
    .resultados .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }

    /* sessão: quem somos */
    .quem-somos .container-sessao-duas-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
    .quem-somos-imagem img{
        height: auto;
    }

    /* sessão: apoiador */
    .apoiador__links li{
        display: flex;
        flex-direction: column-reverse;
    }
    .apoiador__links li p{
        text-align: center;
    }
    .apoiador .container-sessao-duas-colunas{
        align-items: center;
    }

    /* sessão: noticias */
    .noticias .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-noticia-vertical{
        display: flex;
        flex-direction: column;
    }
}

/* responsividade mobile */
@media(max-width: 620px){
    /* Sessão : resultados */
    .resultados .grid-quatro-colunas{
        grid-template-columns: repeat(1, 1fr);
    }

    /* sessão: projetos */
    .projetos .grid-tres-colunas{
        grid-template-columns: repeat(1, 1fr);
    }

    /* sessão: apoiador */
    .apoiador .container-sessao-duas-colunas{
        display: flex;
        flex-direction: column-reverse;
    }

    /* sessão: noticias */
    .noticias .grid-quatro-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
}