/* Destaque do link "Início" no menu de navegação */
.header__nav-menu li:nth-child(1){
    border-bottom: 2px solid var(--verde-medio);
}

/* Estilização do banner principal */
.banner {
    width: 100%;
    max-height: 87vh;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: auto;
}

/* Sessão: resultados */
.resultados{
    background-color: var(--verde-medio);
}
.resultados .titulo-sessao h2{
    color: var(--branco);
}
.resultados-cards aside p:nth-child(1){
    font-size: 2rem;
    margin-bottom: 0;
    text-align: center;
    color: var(--branco);
}
.resultados-cards aside p:nth-child(2){
    font-size: 1.3rem;
    text-align: center;
    color: var(--branco);
}

/* sessão: quem-somos */
.quem-somos-historia, .quem-somos-texto{
    display: flex;
    flex-direction: column;
}
.quem-somos-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.quem-somos h1{
    text-align: center;
}
.quem-somos h3{
    font-size: 1.5rem;
}
.quem-somos p{
    font-size: 1.2rem;
}
.quem-somos-botao{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

/* sessão projetos */
.projetos{
    background-color: var(--azul);
}
.projetos .titulo-sessao h2{
    text-align: start;
    color: var(--branco);
}
.card-projeto{
    background-color: var(--branco);
}

/* Sessão: apoiador */
.apoiador__links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.apoiador .titulo-sessao h2{
    text-align: start;
}
.apoiador__links ul{
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}
.apoiador__links li{
    display: flex;
    align-items: center;
    gap: var(--space-1);
}
.apoiador__links button{
    width: 8rem;
    padding: var(--space-2);
    align-items: center;
}
.apoiador__links p{
    width: 57%;
    border-bottom: 2px solid var(--verde-medio);
    font-size: 1.5rem;
}
.apoiador-imagem{
    display: flex;
    justify-content: center;
}
.apoiador-imagem img{
    max-width: 100%;
    height: auto;
}

/* sessão noticias */
.noticias .titulo-sessao h2{
    text-align: start;
}

/* monitores grandes e desktops widescreen */
@media (max-width: 1440px) {
    .container{
        max-width: 1200px;
    }
    
}

/* notebooks e monitores menores */
@media (max-width: 1200px) {
    .container{
        max-width: 992px;
    }
     html{
        font-size: 15px;
    }

}

/* responsividade tablet */
@media(max-width: 992px){
    .container{
        max-width: 768px;
    }
    html{
        font-size: 14px;
    }
    /* sessão: header */
    .header .container{
        max-width: 100%
    }

    /* Sessão : resultados */
    .resultados .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }

    /* sessão: quem somos */
    .quem-somos .container-sessao-duas-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
    .quem-somos-imagem img{
        height: auto;
    }
    .quem-somos-botao{
        padding: var(--space-1);
    }

    /* sessão projetos */
    .text-h3{
        margin-bottom: 0;
    }

    /* sessão: apoiador */
    .apoiador__links li{
        display: flex;
        flex-direction: column-reverse;
    }
    .apoiador__links li p{
        text-align: center;
        width: 100%;
    }
    .apoiador__links li button{
        width: 60%;
        padding: var(--space-1);
        text-align: center;
    }
    .apoiador .container-sessao-duas-colunas{
        align-items: center;
    }

    /* sessão: noticias */
    .noticias .grid-quatro-colunas{
        grid-template-columns: repeat(2, 1fr);
    }
    .card-noticia-vertical{
        display: flex;
        flex-direction: column;
    }
}

/* celulares grandes e pequenos tablets */
@media(max-width: 768px){
    .container{
        max-width: 480px;
    }
    html{
        font-size: 14px;
    }
    /* Sessão : resultados */
    .resultados .grid-quatro-colunas{
        grid-template-columns: repeat(1, 1fr);
    }

    /* sessão: projetos */
    .projetos .grid-tres-colunas{
        grid-template-columns: repeat(1, 1fr);
    }

    /* sessão: apoiador */
    .apoiador .container-sessao-duas-colunas{
        display: flex;
        flex-direction: column-reverse;
    }

    /* sessão: noticias */
    .noticias .grid-quatro-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* celulares pequenos, retrato */
@media (max-width: 480px) {
    .container{
        max-width: 100%;
    }
    html{
        font-size: 13px;
    }
}
