/* banner */
.banner{
    background-color: var(--verde-medio);
}
.banner-texto{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--space-2);
    text-align: center;
}
.banner-texto h1{
    color: var(--branco);
    text-align: center;
}
.banner-texto p{
    color: var(--branco);
    text-align: center;
    font-size: 1.5rem;
}
.banner-botoes{
    display: flex;
    justify-content: space-around;
}
.banner-imagem img{
    width: 100%;
    height: auto;
}

/* sessão voluntariado */
.voluntariado{
    background-color: var(--verde-medio);
}
.voluntariado-conteudo{
    display: flex;
    align-items: center;
}
.voluntariado-conteudo h2{
    color: var(--branco);
}
.voluntariado-cadastro{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--space-0-5);
    align-items: center;
    justify-items: center;
    width: 70%;
}
.voluntariado-cadastro-texto{
    display: flex;
    align-items: center;
}
.icon-voluntario{
    color: var(--branco);
    font-size: 5rem;
}
.voluntariado-cadastro p{
    text-align: center;
    font-size: 1.4rem;
    color: var(--branco);
}
.voluntariado-cadastro-botao{
    display: flex;
    justify-content: center;
    width: 100%;
}
.voluntariado-cadastro-botao button{
    width: 30%;
}

/* sessão doador */
.doador-conteudo{
    display: flex;
    align-items: center;
}
.doador-doar{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
    width: 70%;
}
.doador-texto{
    display: flex;
    flex-direction: column;
}
.icon-doador{
    color: var(--verde-medio);
    font-size: 5rem
}
.doador-texto p{
    text-align: center;
    font-size: 1.4rem;
}
.doador-texto li{
    font-size: 1.2rem;
    margin-bottom: 10px;
    margin-left: 40px;
    list-style: square;
}
.doador-botao{
    display: flex;
    justify-content: center;
    width: 100%;
}
.doador-botao button{
    width: 30%;
}


/* monitores grandes e desktops widescreen */
@media (max-width: 1440px) {
    .container{
        max-width: 1200px;
    }
}

/* notebooks e monitores menores */
@media (max-width: 1200px) {
    :root{
        font-size: 15px;
    }
    .container{
        max-width: 992px;
    }
     html{
        font-size: 15px;
    }
}

/* responsividade tablet */
@media(max-width: 992px){
    :root{
        font-size: 14px;
    }
    /* sessão: banner */
    .banner .container-sessao-uma-coluna{
        padding: 0;
    }
    .banner .container-sessao-duas-colunas{
        display: flex;
        flex-direction: column-reverse;
        padding: 0 0 50px 0;
    }
    .banner-botoes button{
        width: 25%;
    }

    /* sessão: projetos */
    .projetos .grid-tres-colunas{
        grid-template-columns: repeat(2, 1fr);
    }

    
}

/* celulares grandes e pequenos tablets */
@media(max-width: 768px){
    /* sessão: banner */
    .banner-texto{
        padding: 0 var(--space-1);
    }
    .banner-botoes{
        width: 100%;
        align-items: center;
        gap: var(--space-1);
        flex-direction: column;
    }
    .banner-botoes button{
        width: 30%;
    }

    /* sessão: projetos */
    .projetos .grid-tres-colunas{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-projeto{
        width: 100%;
    }

    /* sessão: voluntariado */
    .voluntariado-cadastro{
        grid-template-columns: repeat(1, 1fr);
    }
    
    /* sessão: doador */
    .doador-conteudo{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* celulares pequenos, retrato */
@media (max-width: 480px) {
    /* sessão: banner */
    .banner-botoes button{
        width: 50%;
    }

    /* sessão: voluntariado */
    .voluntariado-cadastro-botao .botao-branco{
        width: 100%;
    }
    .voluntariado-cadastro-botao .botao-branco{
        width: 50%;
    }

    /* sessão: doador */
    .doador-botao{
        width: 100%;
    }
    .doador-botao .botao{
        width: 50%;
    }

}
